
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body{
    margin-top: 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: url(images/slsu.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  i {
    font-size: 20px;
  }
  
  .container .title{
    font-size: 35px;
    font-weight: 1000;
    position: relative;
    text-align: center;
    color: #0f0c07;
  }
  .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 650px;
    border-radius: 5px;
    background: #e78606;
  }
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #df5c05;
  }
   form .sex-details .sex-title {
    font-size: 18px;
    font-weight: 500;
   }
    form .category{
      display: flex;
      width: 30%;
      margin: 14px 0 ;
      justify-content: space-between;
    }
   
   form .category{
     display: flex;
     width: 30%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
  
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two{
     background: #dd8707;
     border-color: #d9d9d9;
   }
   
   form input[type="radio"]{
     display: none;
   }
   form .usertype-details .usertype-title {
      font-size: 18px;
      font-weight: 500;
     }
   form .category1{
     display: flex;
     width: 35%;
     margin: 10px 0 ;
     justify-content: space-between;
   }
   form .category1 label{
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  
   form .category1 label .dot{    
      height: 18px;
      width: 20px;
      border-radius: 50%;
      margin-right: 15px;
      background: #d9d9d9;
      border: 5px solid transparent;
      transition: all 0.3s ease;
    }
     #dot-3:checked ~ .category1 label .three,
     #dot-4:checked ~ .category1 label .four,
     #dot-5:checked ~ .category1 label .five{
       background: #dd8707;
       border-color: #d9d9d9;
     }
  form input[type="radio"]{
     display: none;
   }
   form .button{
     height: 45px;
     margin: 35px 0 ;
     text-align: center;
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 15px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background-color: #df6d02;
    
   }
   form .button input:hover{
    background-color: #249900;
    }
  form .button1 {
     height: 45px;
     margin: 35px 0
  }
  .message{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .message .success{
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    transition: .3s;
    display: none;
  
    
  }
  .message .danger{
    color: red;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
  
  
  }
  @keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
  
  }
  
  
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    form .category1{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category .category1{
      flex-direction: column;
    }
  }